.tags_container_ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

.illust_item_content {
    width: 184px;
}

.illust_item_illust {
    position: relative;
    -webkit-mask-image: -webkit-radial-gradient(center, white, black);
    border-radius: 8px;
    overflow: hidden;
}

.illust_item_illust_inner {
    position: relative;
    z-index: 0;
    width: 184px;
    height: 184px;
}

.illust_item_link {
    text-decoration: none;
    transition: ease opacity 250ms;
}

.illust_item_link:hover {
    opacity: 0.7;
}

.illust_item_illust_img_outer {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.illust_item_illust_img_outer::before {
    content: "";
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 4px;
}

.illust_item_illust_img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: rgb(51, 51, 51);
    transition: opacity 0.2s ease 0s;
    object-fit: cover;
    object-position: center center;
}

.illust_item_like_outer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 32px;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.illust_item_likebtn {
    display: block;
    box-sizing: content-box;
    padding: 0px;
    color: inherit;
    background: none;
    border: none;
    line-height: 1;
    height: 32px;
    cursor: pointer;
}

.illust_item_likebtn_svg {
    box-sizing: border-box;
    line-height: 0;
    font-size: 0px;
    vertical-align: top;
    transition: color 0.2s ease 0s, fill 0.2s ease 0s;
    color: rgb(31, 31, 31);
    fill: currentcolor;
}

.illust_item_likebtn_svg_inner {
    transition: fill 0.2s ease 0s;
    fill: rgb(245, 245, 245);
}

.illust_item_likebtn_svg_liked,
.illust_item_likebtn_svg_inner_liked {
    fill: rgb(255, 64, 96) !important;
}

.illust_about {
    display: flex;
    margin-top: 4px;
}

.illust_title_link {
    display: inline;
    max-width: 100%;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;

    transition: color 0.2s ease 0s;
}

.illust_author_icon_outer {
    margin-right: 4px;
}

.illust_author_icon {
    display: flex;
    border-radius: 50%;
    flex: 0 0 auto;
    overflow: hidden;
    width: 24px;
    height: 24px;
    position: relative;
}

.illust_author_link {
    display: block;
    min-width: 0px;
    line-height: 22px;
    font-size: 14px;

    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.not_found_container {
    display: flex;
    flex-flow: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 408px;
    width: 100%;
}

.not_found_text {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: rgb(92, 92, 92);
}

.not_found_text_mini {
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: rgb(92, 92, 92);
}

.not_found_icon {
    margin-bottom: 12px;
}

.not_found_icon_svg {
    stroke: none;
    fill: rgb(92, 92, 92);
    width: 72px;
    height: 72px;
    line-height: 0;
    font-size: 0px;
    vertical-align: middle;
}

.sensitive_container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    padding: 4px 4px 0px;
    pointer-events: none;
}

.sensitive {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
}

.sensitive_inner {
    margin-right: 2px;
}

.sensitive_content {
    padding: 0px 6px;
    border-radius: 3px;
    color: rgb(245, 245, 245);
    background: rgb(255, 64, 96);
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    user-select: none;
}

@supports (display: grid) {
    .tags_container_ul {
        display: grid;
        grid-template-columns: repeat(6, 184px);
        gap: 24px;
    }

    .illust_item_il.illust_item_il.illust_item_il {
        margin: 0px;
    }

    @media (max-width: 1368px) {
        .tags_container_ul {
            grid-template-columns: repeat(5, 184px);
        }
    }
}
