:root{
    --controllerBgLight:#FFF;
    --controllerBgDark:#333;
    --controllerColorLight:rgb(71, 71, 71);    
    --controllerColorDark:#FFF;
    --controllerInputBgDark:#1F1F1F;
    --controllerInputBgLight:#F5F5F5;
    --controllerBorderLight:#c4c4c4;
    --controllerBorderDark:#424242;
}

.controllerContainer{
    width: 90%;
    height: 100%;
    border-radius: 10px;
    padding: 10% 5% 10% 5%;
}

.containerDark{
    background-color: var(--controllerBgDark);
    color: var(--controllerColorDark)
}

.containerLight{
    background-color: var(--controllerBgLight);
    border: solid 1px var(--controllerBorderLight);
    color:var(--controllerColorLight)
}

.controllerContainer > .toptitle{
    margin:0;
    font-family: noto-sans-cjk-jp, sans-serif;
    font-weight: 600!important;
    font-size: 24px!important;
    margin:10px 0;
}

.controllerContainer > .version{
    font-family: noto-sans-cjk-jp, sans-serif;
    font-weight: 300!important;
    font-size: 12px!important;
}

.settings{
    padding:10px 20px;
    list-style: none;
}

.settings > .setting{
    display: flex;
    gap: 0 10px;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}

.setting > .settingText{
    font-size: 12px;
}

.setting + .setting{
    border-top: solid 1px #c4c4c4;
}

.blocklistOuter{
    height: 35%;
}

.blocklistOuter > h2.blocklistTitle{
    font-family: noto-sans-cjk-jp, sans-serif;
    font-weight: 400!important;
    font-size: 20px!important;
    margin: 10px 0;
}

ul.blocklist{
    border-radius: 8px;
    list-style: none;
    padding:0;
    overflow-x:hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100%;
    background-color: var(--controllerInputBgDark);
}
.containerLight ul.blocklist{
    background-color: var(--controllerInputBgLight);
}

ul.blocklist::-webkit-scrollbar{  
    display:none;
}

li.blocktag{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    height:30px;
    width:80%;
    left:5%;
    position: relative;
    font-family: noto-sans-cjk-jp, sans-serif;
    font-weight: 300!important;
    font-size: 13px!important;
}

.blocktag + .blocktag{
    border-top: solid 1px var(--controllerBorderDark);
}
.containerLight .blocktag + .blocktag{
    border-top: solid 1px var(--controllerBorderLight);
}

.blocklistOuter > .addTagInput{
    border-radius: 5px;
    padding: 10px 5%;
    width:90%;
    height:30px;
    background-color: transparent;
    border:none;
    color: var(--controllerColorDark);
    margin-top:10px;
    background-color: var(--controllerInputBgDark);
}
.containerLight .blocklistOuter > .addTagInput{
    background-color: var(--controllerInputBgLight);
    color:var(--controllerColorLight);
}

.removetag{
    background-color: transparent;
    color: var(--controllerColorDark);
    border:none;
    cursor:pointer;
    font-family: noto-sans-cjk-jp, sans-serif;
    font-weight: 300!important;
    font-size: 13px!important;
}
.containerLight .removetag{
    color:var(--controllerColorLight);
}
