:root {
  --background: #1f1f1f;
  --surface: #3a3a3a;
  --surface-secound: #797979;
  --color: #dbdbdb;
}

p,
span {
  font-size: 14px;
}

body {
  height: 400px;
  width: 550px;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--color);
  font-family:
    win-bug-omega,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Ubuntu,
    Cantarell,
    "Noto Sans",
    "Hiragino Kaku Gothic ProN",
    Meiryo,
    sans-serif;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: solid 0px;
}

.container {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  font-size: 1.2rem;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0 12px;
}

.version {
  font-size: 14px;
}

.tags-list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.tags-list {
  background-color: var(--surface);
  height: 265px;
  overflow-y: scroll;
  border-radius: 4px;
}

.tags-list::-webkit-scrollbar {
  background: transparent;
  width: 16px;
}

.tags-list::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: var(--surface-secound);
}

.list-item {
  display: flex;
  gap: 0 10px;
  padding: 5px 5px;
  align-items: center;
}

.list-item > span {
  font-size: 16px;
}

.list-item > span {
  font-size: 16px;
}

.list-item > button {
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 35px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item > button:hover {
  background: var(--surface-secound);
}

.list-item > button > svg {
  fill: var(--color);
}

.tag-input {
  background-color: var(--surface);
  border: none;
  padding: 10px 5px;
  color: var(--color);
  border-radius: 4px;
}

.flex-container {
  display: flex;
  gap: 10px;
}

.settings-container {
  width: 50%;
}

ul.settings {
  list-style: none;
  padding: 0;
  margin: 0;
}

.setting-item {
  padding: 5px 10px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting-select {
  appearance: none;
  background-color: var(--surface);
  color: var(--color);
  padding: 10px 10px;
  border-radius: 5px;
}
